.depend
Makefile
config.log
config.status
centrallix-lib/include/cxlibconfig-all.h
centrallix-lib/include/cxlibconfig-internal.h
centrallix-lib/include/cxlibconfig.h
centrallix-lib/libCentrallix.a
centrallix-lib/libCentrallix.so
centrallix-lib/libCentrallix.so.*
centrallix-lib/libStParse.a
centrallix-lib/libStParse.so
centrallix-lib/libStParse.so.*
*.o
*.lo
stamp-h
centrallix/.subbuild
centrallix/autom4te.cache
centrallix/centrallix
centrallix/config.h
centrallix/etc/centrallix.conf
centrallix/etc/centrallix.conf.mk
centrallix/etc/centrallix.init
centrallix/etc/rootnode
centrallix/man/centrallix.8.gz
centrallix/man/centrallix.conf.5.gz
centrallix/man/test_obj.1.gz
centrallix/osdrivers/*.so
centrallix/test_obj
centrallix-os/apps/kardia
centrallix-lib/include/cxlib
